.vscode/sftp.json
.env

# OS X
.DS_Store
.AppleDouble
.LSOverride

writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/uploads/*
vendor
composer.lock
app/Config/Database.php
node_modules
package-lock.json
app/Controllers/BaseController.php
app/Libraries/Feeder.php
frontend/bundle